<head>
<!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122867145-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122867145-1');
</script>

 -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Compare the prices of different Microsoft stores in Europe. There is Xbox, Surface, Accessories and other. Allows you to buy official microsoft products at the lowest prices. There is the German Microsoft store, french espangole, uk, polish, italian and all other European store.">
<meta name="keywords" content="Microsoft, Store, checker, check, price, products, european, surface" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="NuofWJnPkISS0ULzkQNoDFloA6fbsBjwszOcsYrUji8" />

<!-- Bootstrap core CSS -->
<link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/jquery.auto-complete.css' />
<link rel='stylesheet' href='/stylesheets/slick.css' />
<link rel='stylesheet' href='/stylesheets/slick-theme.css' />
<link rel='stylesheet' href='/stylesheets/hover.css' />
<link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 

<title>Microsoft Store Checker - Price comparison of Microsoft products</title> 

</head>
        
        
